{
   "query": {
      "function_score": {
         "query": {
            "match_all": {
            }
         },
         "boost_mode": "replace",
         "score_mode": "sum",
         "functions": [
            {
                "filter": {
                    "range": {
                        "post_date": {
                            "gte": "now-180d"
                        }
                    }
                },
                "weight": "100"               
            },
            {
                "filter": {
                    "range": {
                        "post_date": {
                            "gte": "now-360d"
                        }
                    }
                },
                "weight": "100"               
            },
              {
                "filter": {
                    "range": {
                        "post_date": {
                            "gte": "now-90d"
                        }
                    }
                },
                "weight": "100"               
            }

         ]
      }
   }
}
